# Directories:
UARTCOM/UARTCOM2/bin/
UARTCOM/UARTCOM2/obj/
UARTCOM/UARTCOM2/obj/Debug/
UARTCOM/.vs/
workspPADK_UART_CCS6/.metadata/
workspPADK_UART_CCS6/UART/Debug/
workspPADK_UART_CCS6/UART/.lanuches/
workspPADK_MIDI_CCS6_original/workspPADK_MIDI_CCS6/MIDI/Debug/
workspPADK_MIDI_CCS6_original/workspPADK_MIDI_CCS6/MIDI/.launches/
workspPADK_MIDI_CCS6_original/.metadata/
workspPADK_MIDI_CCS6_original/workspPADK_MIDI_CCS6/.metadata/
workspPADK_MIDI_CCS6_original/workspPADK_MIDI_CCS6/PADK_USB1/
workspPADK_MIDI_CCS6_original/workspPADK_MIDI_CCS6/MIDI/.metadata/
workspPADK_MIDI_CCS6_original/workspPADK_MIDI_CCS6/MIDI/RemoteSystemsTempFiles/

# File types:
*.exe
*.pdb
*.cache
*.asv
*.zip
*.wav
*.reapeaks
*.aux
*.log
*.pdf
*.gz
*.lot
*.lof
*.out

# Files:
UARTCOM/UARTCOM2/obj/Debug/UARTCOM.csproj.GenerateResource.cache
UARTCOM/UARTCOM2/obj/Debug/UARTCOM.csproj.FileListAbsolute.txt
UARTCOM/UARTCOM2/obj/Debug/UARTCOM.csproj.CoreCompileInputs.cache
UARTCOM/UARTCOM2/UARTCOM.csproj.user
UARTCOM/UARTCOM2/UARTCOM.csproj
UARTCOM/UARTCOM.sln
